<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<p>Born and Raised in San Diego</p><br>
    {% load static %}
    <img src="{% static '/san_diego.jpg' %}" alt="My image" height="500px" width="550px"/>
<p>Learning Python</p><br>
    {% load static %}
    <img src="{% static '/python.jpg' %}" alt="My image" height="500px" width="550px"/>
<p>Have a dog named Cabo</p><br>
    {% load static %}
    <img src="{% static '/cabo.jpg' %}" alt="My image" height="500px" width="400px"/>
</body>
</html>